body {
    padding: 0;
    margin: 0;
}

nav {
    padding: 8px 60px;
    background-color: #0c0b0b;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   color: #FFFAFA;
   font-weight: bold;
   font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}


.nav-links li a {
    color: #FFFAFA;
    text-decoration: none;
}

.menu {
    color: #FFFAFA;
    font-size: 22px;
    cursor: pointer;
}
