body {
    padding: 0;
    margin: 0;
}

nav {
    padding: 20px  60px ;
    background-color: #FFFFFF;
    color: #111111;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.logo {
   font-weight: bold;
   font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}


.nav-links li a {
    text-decoration: none;
    color: #111111;
}

.menu-icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
}


@media screen and (max-width: 728px) {
    nav {
        padding: 20px  30px ;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .active {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        right: 0;
        top: 60px;
padding: 0 60px;
    }
}

.hero {
    padding: 70px 60px 0 60PX;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    gap: 30px;
    
}

.profile-picture {
    max-width: 300px;
    border-radius: 50%;

}

.about {
    max-width: 700px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about h3, h2, p {
    margin: 0;
}
.about p {
    letter-spacing: 1px;
    line-height: 25px; 
    color: #666666;
    
}

.btn {
    background-color: #ffcc00;
    color: #111111;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

@media screen and (max-width: 728px) {
   .hero {
    padding: 70px 30px 0 30PX;
    display: flex;
    flex-direction: column;
   } 
}

.goals-section {
    padding: 40px 60px;
    font-family: sans-serif;
}

.goals-section p {
    color: #666666;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.text {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 1px;
    line-height: 25px;
}

.goals {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.goal {
    padding: 4px 20px;
    width: 350px;
    background-color: #EEEEEE;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 5px;
}

.goal-icon {
    
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
}

@media screen and (max-width: 728px) {
    .goals-section {
        padding: 40px 30px;
        
    }
}

.strategy-section {
    padding: 40px 60px;
    font-family: sans-serif;
    background-color: #FFFAFA;
}

.strategy p {
    color: #666666;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px; 

}

.strategies {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.strategy {
    padding: 30px 40px;
    width: 200px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-radius: 5px;
}

.strategy a {
    color: #111111;
}


.strategy-icon {
    background-color: #ffcc00;
    padding: 12px;
    border-radius: 50%;
    font-size: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy-title-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.strategy-title-div h2, p {
    margin: 0;
}

@media screen and (max-width: 728px) {
    .strategy-section {
        padding: 40px 30px;
    }

    .strategies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


footer {
    padding: 30px 60px;
    background-color: #FFFFFF;
    color: #111111;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    gap: 20px;
}

.contact h3 {
    margin: 0;

}

.contact-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links {
 display: flex;
 gap: 24px;
 font-size: 20px;
 color: #FFFAFA
}

.copyright-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.current-day {
   text-align: center;
   margin: 5px;
}



@media screen and (max-width: 728px) {
    footer {
        padding: 30px 30px;
        
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright-div {
        justify-content: flex-start;
    }

    .current-day {
        text-align: start;
        margin: 5px;
     }

}
